/* Write your CSS here */
.todos {
  font-family: roboto;
  padding: 30px;
  color: black;
  font-size: 30px;
  list-style-type: none;
}

.delete-btn {
  margin-top: 30px;
  height: 40px;
  width: 100px;
  background-color: transparent;
  border: 2px solid #ff0b37;
  color: #ff0b37;
  font-family: roboto;
  font-size: 20px;
  border-radius: 8px;
}

.todoItem-btn-container {
  display: flex;
}
