/* Write your CSS here */
@media (max-width: 576px) {
  .app-bg-container {
    background-color: #ffc2a0;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .todos-bg-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 90%;
  }

  .todos-ul-container {
    align-self: center;
    width: 100%;
  }
}

@media (min-width: 577px) {
  .app-bg-container {
    background-color: #ffc2a0;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .todos-bg-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 80%;
  }

  .todos-ul-container {
    align-self: center;
    width: 90%;
  }
}

.todos-heading {
  font-family: roboto;
  font-size: 40px;
  color: #ffc2a0;
  font-weight: bold;
}

.input-field {
  height: 40px;
  width: 50%;
  border: 1px solid #000000;
  padding: 8px;
  font-family: roboto;
  font-size: 20px;
}

.input-and-add-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.add-btn {
  margin-left: 14px;
  background-color: #304fcf;
  font-family: roboto;
  color: #ffffff;
  padding: 10px;
  border: 0;
  border-radius: 8px;
}
